body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #400008;
    overflow: hidden;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo {
    color: white;
    font-size: 24px;
}

.navbar .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    display: inline;
    margin-right: 20px;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-links li a:hover {
    text-decoration: underline;
}

.hero {
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-content {
    text-align: center;
    z-index: 1;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-image {
    background-image: url('../images/abstractBlue.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.5s ease;
}

.about {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    color: #555;
}

.container {
    width: 80%;
    margin: 0 auto;
}