body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.add-course-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}

.add-course-btn:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close, .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.course {
    position: relative;
}

.course .remove-course-btn {
    display: none;
    position: absolute;
    left: 45%;
    transform: translateY(-60%);
}

.course:hover .remove-course-btn {
    display: inline-block;
}

.remove-course-btn {
    background-color: goldenrod;
    color: white;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    padding: 8px;
}

#modify-year-btn, .adjust-years-btn, .delete-timetable-btn, #add-timetable-btn {
    cursor: pointer;
}