<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scaled=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <img src="/images/logo.png" alt="Course Compass Logo" style="width: 50px; height: 50px;">
        </div>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#service">Service</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Course Selection Made Easy</h1>
    </div>
    <div class="hero-image"></div>
</section>
<section id="about" class="about">
    <div class="container">
        <h2>What We Offer</h2>
        <p>TMU Students do you find yourself planning your university timetables but find the school only has it open
            per semester. Have no Fear, CourseCompass is here. We offer the ability to add courses to your cart and plan
            out which semester of which year it belongs to. You can even set space aside for job term by selecting its
            appropriate course</p>
    </div>
</section>
<section id="service" class="about">
    <div class="container">
        <h2>What We Offer</h2>
        <br><img src="/images/allCourses.png" style="width: 80%;">
        <p>View all the Courses TMU has to offer and filter through by Program, Course Name,
            or even Course Code. Choose your search type as well, whether it be exactly the search term,
            starting with something or have something in the middle, we got you covered. Are you thinking
            of taking a course, then add it to your cart by clicking on the shopping cart next to your desired
            course.</p>
        <br><br><img src="/images/myCourses.png" style="width: 80%;">
        <p>All the courses you add will appear here. Do you have second thoughts about a course. If you change
            your mind then delete the course by clicking on the trash can next to the appropriate course. You can
            hover over courses but no need to select them to remove them.</p>
        <br><br><img src="/images/planCourses.png" style="width: 80%;">
        <p>This is the Course Plan, basically where you will plan out which courses from your selected courses to take
            during which Year and which semester. To add a course click the add button, which will bring up a selector showing
            all your courses, then you must choose one and click the add button. If you want to move a course to a different position,
            then click the remove button next to the course to remove it, and then add it where you please.</p>
        <br><br><img src="/images/accountManagement.png" style="width: 80%;">
        <p>Account Management: No, you can't change your username nor password. You can change your name, date of birth,
            and email, and then click SAVE to save it. If you don't, it won't.</p>
    </div>
</section>
</body>
</html>