<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>My Courses</title>
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <img src="/images/logo.png" alt="Course Compass Logo" style="width: 50px; height: 50px;">
            <h1>Course Compass</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/welcome">Home</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/profile">Course Catalogue</a></li>
                <li><a href="/mycourses">My Courses</a></li>
                <li><a href="/plan">Plan</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--<nav>-->
<!--    <a href="/logout">Logout</a>-->
<!--    <a href="/account">Account</a>-->
<!--    <a href="/plan">Plan</a>-->
<!--    <a href="/profile">Course Catalogue</a>-->
<!--    <a href="/welcome">Home</a>-->
<!--    <a class="left">My Courses</a>-->
<!--</nav>-->

<div class="container">
    <h1>My Courses</h1>
    <table>
        <thead>
        <tr>
            <th>Course Program</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.courseProgram}"></td>
            <td th:text="${course.courseCode}"></td>
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.courseDescription}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="footer">
    &copy; 2024 CourseCompass
</div>
</body>
</html>