<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Plan</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="/css/plan.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="icon" href="/images/favicon.ico">
<!--    <script src="/js/plan.js"></script>-->
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <img src="/images/logo.png" alt="Course Compass Logo" style="width: 50px; height: 50px;">
            <h1>Course Compass</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/welcome">Home</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/profile">Course Catalogue</a></li>
                <li><a href="/mycourses">My Courses</a></li>
                <li><a href="/plan">Plan</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container" id="coursePlanContainer">
    <h1>Course Plan</h1>

    <!-- Modal for Adding Courses -->
    <div id="courseModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Select a Course to Add</h2>
            <select id="courseSelect">
                <option value="" disabled selected>Choose a Course</option>
            </select>
            <button id="addCourseToPlan">Add Course</button>
        </div>
    </div>

    <button id="add-timetable-btn">New Timetable</button>
</div>

<div class="footer">
    &copy; 2024 CourseCompass
</div>
<script src="/js/plan.js"></script>
</body>
</html>
